*{
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    }
    
body {
    background-image: url(./celular-2.png);
    background-position: center;
    background-size: 900px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    top: 135px;
     }
 h2 {
     font-size: 18px;
     font-style: italic;
     font-weight: normal;
     text-align: center;
     position: relative;
     top: 135px;
 }
.messagem {
    text-align: center;
    font-style: italic;
    position: relative;
    left: 40%;
    top: 150px;
    height: 80px;
    width: 350px;
    font-size: 25px;
    text-align: center;
    border-width: 6px;
    border-style: outset;
    border-color: rgb(66, 63, 63);
}
.chave {
    text-align: center;
    font-style: italic;
    position: relative;
    left: 26.5%;
    top: 250px;
    height: 80px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    border-width: 6px;
    border-style: outset;
    border-color: rgb(66, 63, 63);
}
.btn {
    font-family: Arial, Helvetica, sans-serif;
    height: 120px;
    width: 120px;
    color: white;
    background-color: black;
    border-color: black;
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    left: 43%;
    top: 275px;
    text-align: center;    
}
.message{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: brown;
    position: relative;
    left:42%;
    top: 300px;
}